<div class="main-bg advisor-mock landing">

  <header class="home">
    <div class="inner">
      <div class="client-menu-overlay">
        <div class="client-menu-container">
          <div class="client-menu-logo-container">
            <div class="logo-image"></div>
          </div>
          <ul class="client-menu">
            <li class="client-menu-item active">Welcome</li>
            <li class="client-menu-item">Services</li>
            <li class="client-menu-item">About</li>
            <li class="client-menu-item login-actions login">
              <a href="/login" class="display-modal login">Sign In</a>
            </li>
            <li class="client-menu-item login-actions">
              <span>|</span>
              <a href="/sign-up" class="display-modal register">Sign Up</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <img class="overlay" src="images/mocks/physician-hero@2x.png"></img>
  </header>

  <div class="advisor-homepage">
    <img src="images/mocks/advisor-homepage@2x.png"></img>
  </div>

  <footer>
  </footer>

</div>
