<div class="client-menu-overlay">
  <div class="client-menu-container">
    <div class="client-menu-logo-container">
      <div class="logo-image"></div>
    </div>
    <ul class="client-menu">
      <li class="client-menu-item expand">HOW IT WORKS?</li>
      <li class="client-menu-item expand">DOWNLOAD THE APP</li>
      <li class="client-menu-item">ABOUT US</li>
      <li class="client-menu-item login-actions expand">
        <div class="client-status-option client-status">
          <div class="container">
            <span>Hello, </span>
            <span class="client-name"></span>
            <ul class="investing-menu">
              <li class="investing-menu-item"><span class="client-logout">Logout</span></li>
            </ul>
          </div>

        </div>
        <span class="client-status-option client-login-menu">
          <span class="display-modal login">Login</span><span>|</span><span class="display-modal register">Signup</span>
        </span>
      </li>
    </ul>
  </div>
</div>
